body {
  background-color: #000000;
  font: 16px georgia;
  color: #ffffff;
}

a:link {
  font: bold 16px georgia; 
  color: #ff0000; 
  text-decoration: none;
} 

a:active {
  font: bold 16px georgia;
  color: #ff0000;
  text-decoration: none;
}

a:visited {
  font: bold 16px georgia;
  color: #ff0000;
  text-decoration: none;
}

a:hover {
  font: bold 16px georgia;
  color: #ff0000;
  text-decoration: underline;
}

.nope {
  color: #000000 !important;
  text-align: center;
}

